.generalLayout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.cardDeckLayout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.specialCardDeckLayout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 8px;
  grid-auto-flow: column dense;

  justify-content: start;
  align-content: start;
  justify-items: start;
}